__pycache__/
*.py[cod]
*$py.class
/venv
.env
tiktok_fast.mp4
/assets/post_data.json
/assets/screenshots/new.png
/assets/output.json
/assets/title_output.mp3
/assets/dynamic_subs.ass
/assets/output.mp3
/assets/output.srt
/assets/video.mp4
/assets/audio/title.mp3
/assets/audio/body.mp3
/assets/audio/comment_*.mp3
!/assets/